mat-icon {
    vertical-align: middle;
}

.mat-column-player {
    width: 100px;
    padding-right: 54px!important;
    padding-left: 24px!important;
}
.mat-column-isSynced {
    width: 10px;
    padding-right: 24px!important;
}
input[type="file"]{
    visibility: hidden;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
}

:host ::ng-deep .custom-spinner circle {
  text-align: center;
}